<div class="modal fade" id="event-modal-{{id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}&nbsp;&nbsp;<span class="label label-default">{{formatDate moment 'MMMM Do YYYY \at h:mm a'}}</span></h4>
            </div>
            <div class="modal-body">
                {{{details}}}
                <address>{{location}}</address>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>